@if (_show)
{
    @*<div class="load-screen">
            <div class="spinner-container">
                <div class="spinner"></div>
            </div>
        </div>*@
    <div class="slider">
        <div class="line"></div>
        <div class="subline inc"></div>
        <div class="subline dec"></div>
    </div>
}