.new-version-toast {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: var(--verde-400);
  padding: 5px;
  margin: 10px 30px 10px 90px;
  box-shadow: var(--elevacion-4);
  position: fixed;
  bottom: 0px;
  width: 400px;
  z-index: 2000;
  color: var(--verde-900);
  border-radius: 8px;
}

.new-version-toast > button {
  background-color: var(--verde-700);
  color: var(--verde-100);
  white-space: nowrap;
}
