<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
		<!--<add name="Conexion" connectionString="Data Source=MOLIMPIAITDS216\DESARROLLO;Initial Catalog=MIFIRMA;Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<add name="Conexion" connectionString="Data Source=OLSRVPROBDDWH01\PROBDDWHSQL;Initial Catalog=RelacionesConCliente;Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="nombreFrom" value="Notaria"/>
		<add key="host" value="correo.olimpiait.com" />
		<add key="usuarioFrom" value="areyes@olimpiait.com" />
		<add key="password" value="Febrero.2021" />
		<add key="port" value="25" />
		<add key="correo" value="Yuliet.Rojas@olimpiait.com;John.Rincon@olimpiait.com;Julian.Ocampo@olimpiait.com" /> <!--Yuliet.Rojas@olimpiait.com;John.Rincon@olimpiait.com;Julian.Ocampo@olimpiait.com-->
		<add key="RutaDocumentos" value="c:\Reporte\"/>
		<add key="nombrePython" value="script_graficos_notarias.py" />
	</appSettings>
</configuration>