.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: nowrap;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  top: 54px;
  left: 0;
  height: calc(100vh - 54px);
  z-index: 2;
  transition: all 0.5s;
  background: white;
  color: var(--gris-800);
  transition: all 0.3s;
  font-size: 1rem;
}

.sidebar.hide {
  margin-left: -250px;
}

.content {
  transition: all 0.3s;
  margin: 0px;
}

.content.with-sidebar {
  margin-left: 250px;
}

.sidebar li {
  margin: 0;
}

.sidebar-item,
.sidebar-item:hover,
.sidebar-item:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar .components {
  border-bottom: 1px solid var(--gris-200);
}

.sidebar-header {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0;
  color: var(--gris-800);
}

.sidebar-header,
.sidebar-item a {
  padding: 0.8rem;
  display: block;
}

.sidebar-item a:hover {
  color: var(--azul-800);
  background-color: var(--azul-100);
  text-decoration: none;
}

a.sidebar-item.sub-item {
  padding-left: 2rem;
}

.container-fluid {
  padding: 0;
}
