<AuthorizeView>
    <Authorized>
        <ul @onclick="onClickMenu" @onclick:preventDefault="usePreventDefault">
            <li title="Iniciar nuevo trámite" class="nav-item">
                <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/tramite"
                         @onclick='(e=>onClickLink("/tramite"))'>
                    <i class="fa fa-plus-circle "></i>
                    <span class="nav-text">
                        Iniciar nuevo trámite
                    </span>
                </NavLink>
            </li>
            <li title="Reanudar trámite" class="nav-item">
                <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/tramitesEnProceso"
                         @onclick='(e=>onClickLink("/tramitesEnProceso"))'>
                    <i class="fa fa-redo-alt"></i>
                    <span class="nav-text">
                        Reanudar trámite
                    </span>
                </NavLink>
            </li>
            <li title="Autorizados" class="nav-item">
                <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/bandejaEntrada/3"
                         @onclick='(e=>onClickLink("/bandejaEntrada/3"))'>
                    <i class="fa fa-file-pdf"></i>
                    <span class="nav-text">
                        Autorizados
                    </span>
                </NavLink>
            </li>
            <li title="Configuración" class="nav-item">
                <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/configuraciones"
                         @onclick='(e=>onClickLink("/configuraciones"))'>
                    <i class="fa fa-cog "></i>
                    <span class="nav-text">
                        Configuración
                    </span>
                </NavLink>
            </li>
            @if (NotariaConvenioVirtual)
            {
                <li title="Tramites Portal Virtual" class="nav-item">
                    <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/tramitesportalvirtual"
                             @onclick='(e=>onClickLink("/tramitesportalvirtual"))'>
                        <i class="fas fa-file-contract"></i>
                        <span class="nav-text">
                            Tramites Portal Virtual
                        </span>
                    </NavLink>
                </li>
            }
        </ul>
    </Authorized>
</AuthorizeView>

