@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@inject PortalAdministrador.Services.Biometria.IRNECService rnecService
@inject PortalAdministrador.Services.IMachineService machineService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<div class="wrapper">
    <div id="content" class="main container-fluid content">
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="images/logo-ucnc.png" class="d-inline-block align-top" alt="" loading="lazy">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">

                </div>
            </div>
        </nav>
        <NavNotario />
        <div class="contenido_principal">
            @Body
        </div>
    </div>
</div>
