@inherits LayoutComponentBase

<div class="linea-horizontal"></div>
<div class="linea-horizontal linea-2"></div>

<main class="row login-container">
    <div class="square-form">
        @Body
    </div>
</main>