<AuthorizeView>
    <Authorized>
        <li title="Iniciar nuevo tramite" class="nav-item">
            <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/tramite">
                <i class="fa fa-plus-circle "></i>
                <span class="nav-text">
                    Iniciar nuevo tramite
                </span>
            </NavLink>
        </li>
        <li title="Bandeja de entrada" class="nav-item">
            <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/bandejaEntrada/2">
                <i class="fa fa-file-signature "></i>
                <span class="nav-text">
                    Bandeja de entrada
                </span>
            </NavLink>
        </li>
        <li title="Autorizados" class="nav-item">
            <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/bandejaEntrada/3">
                <i class="fa fa-file-pdf "></i>
                <span class="nav-text">
                    Autorizados
                </span>
            </NavLink>
        </li>
        <li title="Rechazados" class="nav-item">
            <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/bandejaEntrada/4">
                <i class="fa fa-file "></i>
                <span class="nav-text">
                    Rechazados
                </span>
            </NavLink>
        </li>
        <li title="Usuarios" class="nav-item">
            <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/usersAdmin">
                <i class="fa fa-user-tie "></i>
                <span class="nav-text">
                    Usuarios
                </span>
            </NavLink>
        </li>
        <li title="Autorizaciones" class="nav-item">
            <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/Autorizaciones">
                <i class="fa fa-signature "></i>
                <span class="nav-text">
                    Autorizaciones
                </span>
            </NavLink>
        </li>
        <li title="Configuración" class="nav-item">
            <NavLink ActiveClass="link-active" class="nav-link text-dark" href="/configuraciones">
                <i class="fa fa-cog "></i>
                <span class="nav-text">
                    Configuración
                </span>
            </NavLink>
        </li>
    </Authorized>
</AuthorizeView>
