@page "/dashboard"
@attribute [Authorize(Policy = "RequireNotario")]
@using PortalCliente.Components.RegistroTramite;
@using PortalCliente.Components;


@*<div class="row">
        <div class="col-md-12"><PortalCliente.Components.Notario.BandejaEntrada></PortalCliente.Components.Notario.BandejaEntrada></div>
    </div>*@