@page  "/Reportes"
<div class="container">
    <h1>Reportes</h1>
    <section id="report-container" class="embed-container">
    </section>

    <!-- Used to display report embed error messages -->
    <section class="error-container m-5">
    </section>
</div>
