<footer class="footer-uc">
    <div class="footer-top-uc wow animated slideInUp" data-wow-duration="1s">
      <div class="container" style="display: flex;">
        <div class="col-md-6">
          UNIÓN COLEGIADA DEL NOTARIADO COLOMBIANO "U.C.N.C."<br> Carrera 9 # 97-20 Bogotá - Colombia <br> Horario de atención: Lunes a Viernes 8:00 a.m. a 6:00 p.m. <br> PBX: (57 1) 7464040 Fax: (57 1) 7464040 <br> Línea gratuita: 01 8000 <br>
        </div>
        <div class="col-md-6" style="margin-left:-20px">
          
          <ul class="social-footer-uc">
            <li>
              <a href="https://www.facebook.com/notariado.ucnc" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/notariadoucnc" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
            </li>
            <li>
              <a href="https://mail.ucnc.com.co:83" target="_blank"><i class="fa fa-envelope-square fa-3x"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/NOTARIADOUCNC" target="_blank"><i class="fa fa-youtube-square fa-3x"></i></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="footer-bottom-uc wow animated slideInUp" data-wow-duration="1s" data-wow-delay="1s">
      <div class="container text-center">
        <p>2021 Unión Colegiada del Notariado Colombiano "UCNC" ® Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
