<header>
  <nav class="navbar navbar-uc navbar-fixed-top" style="padding: 0%;">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              
              <a class="navbar-brand" href="#">
                <img src="./assets/images/logo-ucnc.png" class="logo-uc pull-left animated fadeInDown" alt="UCNC">
                  <div class="nombre-sitio-uc pull-left animated fadeInDown">
                      <h1 style="text-align: justify;">Unión Colegiada del Notariado Colombiano <br> <small style="font-weight: 400;line-height: 1;color: #777;">¡Damos fé por la seguridad jurídica y la paz de Colombia!</small></h1>
                  </div>
              </a>
          </div>

          
      </div><!-- /.container-fluid -->
  </nav>
</header>

